.btn-primary{
  background-color: #EEF3FF;
  color: #2747c5;

}
.btn-link{
  text-decoration: none;
  color: #1F3E72;
}
.emergency .h2{
  color: #1F3E72;
}
.h1{
  color: #1F3E72;
}
.why .h2{
  color: #1F3E72;
}
.contenedor4 .h2{
   color: #1F3E72;
}
.contenedor1 .text-primary{
   color: #1F3E72;
}
.contenedor3 h5{
  color: #1F3E72;

}
footer .h5{
   color: #1F3E72;
}
.footer2{
  background-color: #EEF3FF;
}